// {{{generationBanner}}}
package {{packageName}}

import (

	"reflect"
)

// isNilOrEmpty checks if an input is nil or empty
func isNilOrEmpty(i any) bool {
	if i == nil {
		return true
	}
	switch reflect.TypeOf(i).Kind() {
	case reflect.Chan, reflect.Func, reflect.Map, reflect.Ptr, reflect.UnsafePointer, reflect.Interface, reflect.Slice:
		return reflect.ValueOf(i).IsNil()
    case reflect.Bool:
        return false
	default:
		return reflect.ValueOf(i).IsZero()
	}
}
